* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 85, 131,0.9);
    color: white;
    text-align: center;
    height: 3rem;
}

header h1 {
    font-size: 1.5rem;
}

body {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 5rem);
    padding: 1rem;
    
}

footer {
    height: 2rem;
    color: rgba(255, 255, 255, 0.226);
}

footer a {
    text-decoration: underline;
    color: inherit;
}

h1, h2, h3, h4, p {
    text-align: center;
}

/* Photo by Paul Gilmore on Unsplash */

section {
    padding: 1rem;
    background-color: rgba(224, 240, 247, 0.5);
    min-height: 500px;
    border-radius: 8px;
}

section.search-container {
    max-width: 350px;
    margin-right: 2rem;
    background-color: rgba(224, 240, 247, 0.144);
}

section.data-container {
    max-width: 1000px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* -------------- Search section --------------- */

.search-box h2 {
    margin-bottom: 0.5rem;
}

input {
    height: 1.5rem;
    width: 100%;
    padding: 0.3em 0.5em;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.search-btn {
    background-color: rgba(17, 85, 131,0.9);
    color: white;
    width: 100%;
}

div.saved {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.favorites {
    display: flex;
    justify-content: space-between;
}

span.clear {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

button {
    width: 100%;
    margin: 0.2rem 0;
    padding: 0.3em 0;
    border-radius: 5px;
    outline: none;
    background-color: rgba(25, 128, 42, 0.877);
    color: white;
    cursor: pointer;
}

button.saved:hover {
    background-color: rgb(28, 99, 28);
}

/* -------------- Weather data section --------------- */

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.data-header {
    text-align: center;
}

.row {
    display: flex;
    gap: 4rem;
    margin: 2rem 0;
}

.city-name {
    font-size: 2rem;
    text-transform: capitalize;
}

.currentdata-main {
    display: flex;
    align-items: center;
}

.current-temp {
    font-size: 3rem;
}

/* sub data */

.sub-row {
    display: flex;
}

.sub-box {
    display: flex;
    align-items: center;
    width: 9rem;
    margin: 0.5rem 0;
}

.sub-box img {
    margin-inline: 1rem;
}

.box h4 {
    padding: 0.2em 0.3em;
}

/* -------------- 5-day weather data section --------------- */

.future-forecast.row {
    gap: 2rem;
}

.forecast-box {
    flex-basis: 20%;
    text-align: center;
    background-color: rgba(199, 215, 241, 0.246);
    border-radius: 15px;
    padding: 1rem 1.5rem;
}

.sub-date {
    font-size: 0.8rem;
}

.sub-temp {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.sub-data {
    font-size: 0.8rem;
}