* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 85, 131,0.9);
    color: white;
    text-align: center;
    height: 3rem;
}

header h1 {
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 3rem);
    padding: 1rem;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, p {
    text-align: center;
}

/* Photo by Paul Gilmore on Unsplash */

section {
    padding: 1rem;
    background-color: rgba(224, 240, 247, 0.5);
    height: 80%;

}

section.search-container {
    flex-basis: 20%;
    margin-right: 2rem;
}

section.data-container {
    flex-basis: 70%;
    
}


/* -------------- Search section --------------- */

div.saved-cities {
    display: flex;
    flex-direction: column;
}

button.saved {
    display: block
}

/* -------------- Weather data section --------------- */

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-header {
    text-align: center;
}

.row {
    display: flex;
    gap: 4rem;
    margin: 2rem 0;
}

.city-name {
    font-size: 2rem;
    text-transform: capitalize;
}

.currentdata-main {
    display: flex;
    align-items: center;
}

.current-temp {
    font-size: 3rem;
}

/* sub data */

.sub-row {
    display: flex;
}

.sub-box {
    display: flex;
    align-items: center;
    width: 8rem;
}

.sub-box img {
    margin-inline: 1rem;
}

/* -------------- 5-day weather data section --------------- */

.future-forecast.row {
    gap: 2rem;
}

.forecast-box {
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    padding: 1rem 1.5rem;
}

.sub-temp {
    font-size: 1.3rem;
}